.Navbar-main-container {
    display: flex;
    justify-content: center;
    background-color: #4a1961;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    align-items: center;
    margin: 1rem;
    color: white
}